*{
    padding: 0;
    margin: 0;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
header{
    padding: 0 4% 0 4%;
    position: sticky;
}
body{
    background-image: url(../img/Fondo.jpg);
}
.container{
    background-color: aliceblue;
}
header{
    background-color: aliceblue;
}
.navbar .navbar-brand span{
    font-size: 28px;
}
.navbar .navbar-brand i{
    font-size: 45px;
    margin-right: 5px;
}
.nav-item .nav-link{
    color: #000000;
    letter-spacing: 1px;
    transition: 0.5s;
    font-size: 22px;
    font-weight: 500;
}

.navbar-nav:hover .nav-item,#Footer:hover .nav-item{
    filter: blur(2px);
}
.navbar-nav .nav-item:hover,#Footer .nav-item:hover{
    filter: blur(0);
    letter-spacing: 1px;
    background: linear-gradient(45deg, rgb(1, 184, 71) 20%, rgb(0, 153, 255) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#Overlay{
    margin-top: 50px;
    padding: 0 3% 0 3%;
    margin-bottom: 50px;
}
#Overlay #Text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#Overlay #Text h1{
    text-align: center;
    padding-bottom: 2%;
}
#Overlay #Text p{
    text-align: justify;
}
#Overlay #Img{
    display: flex;
    align-items: center;
    justify-content: right;
}
#Overlay #Img img{
    overflow: hidden;
    width: 500px;
}

#Historia{
    margin-bottom: 80px;
    padding-right: 3%;
}
#Historia #Text{
    text-align: justify;
}
#Historia #Img{
    display: flex;
    align-items: center;
    justify-content: center;
}

#Conten1,#Conten2 div{
    padding: 0 3% 0 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#Conten1{
    margin-bottom: 5%;
}
#Conten2{
    margin-bottom: 80px;
}
#Conten2 h5{
    padding-top: 25px;
    padding-bottom: 8px;
}

#Conten3{
    margin-bottom: 80px;
    padding: 0 3% 0 3%;
}
#Conten3 #Text{
    text-align: justify;
}
#Conten3 #Img{
    display: flex;
    align-items: center;
    justify-content: center;
}
#Conten4,#Card,#Card2{
    padding: 0 3% 0 3%;
}
#Conten4{
    text-align: center;
}
#Card{
    margin-bottom: 20px;
    text-align: justify;
}
#Card2{
    padding-bottom: 50px;
    margin-bottom: 50px;
    text-align: justify;
}


button{
    background-color: #a72b2b !important;
    border-color: black !important;
}

footer{
    background-color: aliceblue;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer h3{
    padding-top: 1.5%;
}
